# Django
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com

# Planka API
PLANKA_BASE_URL=
PLANKA_TOKEN=
LOGIN_USERNAME=
LOGIN_PASSWORD=

# Deployment (prod only)
DOMAIN=your-domain.com
